/** @format */

.login-container {
	width: 90%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.login-container h2 {
	color: rgb(255, 120, 67);
}

.close-modal-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.close-icon {
	font-size: large;
	color: rgb(70, 70, 70);
}

.login-social-btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
